/* Recomended Changes */
body {
  max-width: none !important;
  background-attachment: fixed !important;
  height: 1000vh !important;
  min-height: 100vh !important;
}

div.loginBody {
  height: 100vh !important;
  display: flex !important;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 !important;
}
.ntulearn {
  cursor: pointer;
}
.ntulearn h1 {
  margin-top: 30vh;
  border-radius: 10px;
  background: transparent !important;
  border: #fff 3px solid;
  transition: 0.8s;
}
.ntulearn h1:hover {
  transform: scale(1.05) !important;
}
#quick_links_wrap,
#quick_links_wrap a,
.newCopyright,
#global-nav .global-top-avatar,
#puller,
.localViewToggle,
.customBanner,
.currentBannerWrapper,
#wrapper .intro h1,
#cycle-wrapper {
  display: none !important;
}
.global-nav-bar-wrap {
  height: 0 !important;
}
.appTabs td {
  padding-top: 14px !important;
}
table.bouncer,
.contentPane .shadow,
#loginPageContainer {
  border: none !important;
}
.nav-link,
.menuWrap,
#globalNavPageContentArea,
p {
  background: transparent !important;
}
#badgeTotalCount {
  background: transparent !important;
  color: rgb(204, 146, 146);
  margin-top: -0.5px;
  padding-right: 6px;
}
/* Theme Setup */
.global-nav-bar {
  background: transparent !important;
  position: absolute;
  right: 0;
}
#globalNavPageNavArea {
  height: 100px;
}
.brandingImgWrap {
  height: 20px !important;
}
.mainButton > a {
  font-weight: normal !important;
}
.locationPane,
.contentPane {
  background: transparent !important;
}
.container {
  background: rgba(255, 255, 255, 0.7) !important;
}
#globalNavPageNavArea,
.breadcrumbs,
.paneTabs,
.navigationPane {
  opacity: 0.7;
  transition: all 0.8s !important;
}
#globalNavPageNavArea:hover,
.breadcrumbs:hover,
.paneTabs:hover,
.navigationPane:hover {
  opacity: 1;
}
.breadcrumbs,
.paneTabs,
.navigationPane {
  background: rgb(35, 35, 35) !important;
  border: none !important;
}

/* Need to be changed based on background */
#loginBox li label,
.portlet #loginBoxFull li label {
  color: #fff !important;
}
html {
  background: #000 !important;
}
.path a,
.path .placeholder {
  color: #fff !important;
}

/* May need to be changed based on Preference */
#loginPageContainer {
  background-image: none !important;
}
#navigationPane {
  margin-top: -10px !important;
  background: transparent !important;
}
.pageTitle {
  margin-top: 0 !important;
  font-size: 2rem;
}
#loginFormList {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
